html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    width: 360px;
    height: 510px;
    background-color: #eaeaea;
    overflow: hidden;
    display: block;
    font-family: Sans-serif;
    font-size: 12px;
    margin: 0;
}
div#renderingField {
    height: 510px;
    background-color: #e7e7e7;
}
div#anti_and_clockwise {
    position: fixed;
    width: 360px;
    top: 305px;
}
div#menu_div {
    display: inline-block;
    width: 360px;
    z-index: 0;
}
div#menu_wrapper {
    position: fixed;
    top: 275px;
    text-align: center;
}
div#you_are_here {
    display: inline-block;
    width: 360px;
    pointer-events: none;
    z-index: 0;
}
div#you_are_here_wrapper {
    position: fixed;
    top: 375px;
    text-align: center;
}
div#div_table_routenos {
    position: fixed;
    width: 360px;
    top: 430px;
}

p.busstop {
    font-size: 1.4em;
    background-color: #dc241f;
    color: #ffffff;
    border-radius: 50%;
}

img.rotate_arrow {
    pointer-events: none;
}
p.selected_border {
    border: 5px solid #f7ff00;
    z-index: 1;
}

div#wheres_north_arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid red;
    transform: rotate(0deg);
}

td#radius_scale {
    background-color: #cdcdcd;
}

div#clip_arrow_upright {
    width: 110px;
    height: 113px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAEAQMAAABx4xdEAAAABlBMVEXNzc3n5+ceT3rBAAAAEElEQVQI12NQYEhgaGBYAAAE6AGh+QYzSAAAAABJRU5ErkJggg==')
    repeat;
    clip-path: polygon(0% 48%, 13% 19%, 73% 0%, 100% 56%, 87% 84%, 68% 42%, 42% 100%, 20% 91%, 45% 33%, 0% 48%);
    float: right;
}

div#clip_arrow_upleft {
    width: 110px;
    height: 113px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAEAQMAAABx4xdEAAAABlBMVEXNzc3n5+ceT3rBAAAAEElEQVQI12NQYEhgaGBYAAAE6AGh+QYzSAAAAABJRU5ErkJggg==')
    repeat;
    clip-path: polygon(100% 48%, 87% 19%, 27% 0%, 0% 56%, 13% 84%, 32% 42%, 58% 100%, 80% 91%, 55% 33%, 100% 48%);
    float: left;
}

table#tbl_for_arrows {
    border-style: none;
    width: 100%;
}

td#arrow_left {
    width: 50%;
}

td#arrow_right {
    width: 50%;
}

table#tbl_for_radius {
    border-style: none;
    width: 100%;
}

tr#tr_for_radius {
    height: 10px;
}

table#table_routenos {
    border-style: none none dashed dashed;
    border-width: 1px;
}

td.cell_lineno {
    border-style: dashed dashed none none;
    border-width: 1px;
    text-align: center;
}
