html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    width: 360px;
    height: 510px;
    background-color: #eaeaea;
    overflow: hidden;
    display: block;
    font-family: Sans-serif;
    font-size: 12px;
    margin: 0;
}
div#renderingField {
    height: 510px;
    background-color: #e7e7e7;
}
div#anti_and_clockwise {
    position: fixed;
    width: 360px;
    top: 305px;
}
div#you_are_here {
    display: inline-block;
    width: 360px;
    pointer-events:none;
    z-index: 0;
}
div#you_are_here_wrapper {
    position: fixed;
    top: 375px;
    text-align: center;
}
div#div_table_routenos {
    position: fixed;
    width: 360px;
    top: 430px;
}

p.busstop {
    font-size: 1.4em;
    background-color: #dc241f;
    color: #ffffff;
    border-radius: 50%;
}

img.rotate_arrow {
    pointer-events:none;
}
p.selected_border {
    border: 5px solid #f7ff00;
    z-index: 1;
}
